Repository fernando-ff/PrimeVideo-clone, pull requests merged in 2021-04, with the labels that each got.

#7 Request api
  package-lock.json
  prime/package-lock.json
  prime/package.json
  prime/src/API/Tmdb.js
  prime/src/App.vue
  prime/src/components/HelloWorld.vue
  prime/src/components/MoviesList.vue
Labels: API, setup

#9 separação por generos
  prime/src/API/Tmdb.js
  prime/src/App.vue
  prime/src/components/MoviesList.vue
Labels: API, setup

#12 criar estilização da visualização
  prime/src/App.vue
  prime/src/components/MoviesList.vue
Labels: escopo::front-end

#17 refatorar estrutura do projeto
  prime/package-lock.json
  prime/src/App.vue
  prime/src/components/FeaturedMovie.vue
  prime/src/components/MovieList.vue
  prime/src/components/shared/card/Card.vue
  prime/src/components/shared/cardList/CardList.vue
  prime/src/main.js
Labels: escopo::front-end, setup
